body
{
    background: linear-gradient( rgb(75, 198, 255), rgb(6, 135, 255),rgb(255, 132, 255),rgb(226, 37, 226));
}
h1{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h4
{
    color:red;
}

#camera
{
    width: 500px;
    height: 400px;
    border:1px solid rgb(87, 2, 2);
}

img
{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

.column
{
    display: inline;
    padding: 10px;
}
img:hover{
    border-radius: 140px;
}
.copy_right_footer {
    position: fixed;
    color: #000000;
    bottom: 0;
    width: 100%;
    background-color: #ff58e0;
    line-height: 3;
    text-align: center;
 }
